@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
/* Box Model Hack */
* {
  box-sizing: border-box;
}

html, body{
  min-height: 100%;
  background: url('https://images.unsplash.com/photo-1573575536645-051d14056400?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80');
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-size: cover;
background-repeat: no-repeat;
font-family: 'Poppins', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
}

h2{
  color: rgb(179, 131, 226);
  font-size: 10rem;
  text-align:center;
  opacity: 0.4;
}

form{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input{
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

input::placeholder{
  color: #d5d5d5;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.todos{
  background-color: white;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todos li{
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed{
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  text-shadow: 1px 1px 1px grey;
  margin-top: 3rem;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/